<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-pager-huella"
    version="1.0.0">
    <name>Pager Huella</name>
    <description>Cordova Huella Plugin</description>
    <license>UNLICENSED</license>
    <keywords>cordova,fingerprint</keywords>
    <repo>https://github.com/pagerinc/cordova-plugin-pager-huella.git</repo>
    <issue>https://issues.apache.org/jira/browse/CB/component/12320648</issue>

    <js-module src="www/huella.js" name="huella">
        <clobbers target="cordova.plugins.Huella" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Huella" >
                <param name="android-package" value="org.pager.cordova.huella.Huella"/>
            </feature>
        </config-file>

        <source-file src="src/android/Huella.java" target-dir="src/org/pager/cordova/huella" />
        <source-file src="src/android/KeyguardAuth.java" target-dir="src/org/pager/cordova/huella" />
    </platform>
</plugin>
